<div class="header">
  <div class="left-column">
      <img src="./assets/logo-kare-white.png" alt="Left Image">
  </div>
  <h1>Ticket Management System</h1>
  <div class="right-column">
    <Marquee behaviiour="alternative">Upadtes........</Marquee>
      <!-- <img src="./assets/02.png" alt="Right Image"> -->
  </div>
</div>
   <router-outlet></router-outlet>
   <!-- <app-login></app-login> -->
   <!-- <app-create-user></app-create-user> -->
   <!-- <app-create-ticket></app-create-ticket> -->
   <!-- <app-view></app-view> -->
   <!-- <app-view-data></app-view-data> -->
     <div class="footer">
  <p class="para">DEVELOPED BY B @ BB</p>
</div>
 