<div class="view-data">
    <h2 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Student Details</h2>
    <table>
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Name</th>
          <th>Register Number</th>
          <th>View Details</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button>view</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

