<div class="create-user-card">
    <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center;"><i class="bi bi-person-plus"></i> Create User</h2>
    <form>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName"  name="firstName" required>
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName"  name="lastName" required>
      </div>
  
      <div class="form-group">
        <label for="registerNumber">Register Number:</label>
        <input type="text" id="registerNumber"  name="registerNumber" required>
      </div>
  
      <div class="form-group">
        <label for="year">Year:</label>
        <input type="text" id="year"  name="year" required>
      </div>
  
      <div class="form-group">
        <label for="section">Section:</label>
        <input type="text" id="section"  name="section" required>
      </div>
  
      <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required>
      </div>

      <div class="form-group">
        <label for="mailid">University MailId:</label>
        <input type="text" id="mailid"  name="mailid" required>
      </div>
  
      <div class="form-group">
        <label for="faName">Faculty Advisor Name:</label>
        <input type="text" id="faName"  name="faName" required>
      </div>
  
      <div class="form-group">
        <label for="idCardPhoto">ID Card Photo:</label>
        <input type="file" id="idCardPhoto" accept="image/*" required>
      </div>
  
      <div class="form-group">
        <label for="bloodGroup">Blood Group:</label>
        <input type="text" id="bloodGroup" name="bloodGroup" required>
      </div>
  
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber"  name="phoneNumber" required>
      </div>
  
      <div class="form-group">
        <label for="fatherName">Father Name:</label>
        <input type="text" id="fatherName"  name="fatherName" required>
      </div>
  
      <div class="form-group">
        <label for="motherName">Mother Name:</label>
        <input type="text" id="motherName" name="motherName" required>
      </div>
  
      <div class="form-group">
        <label for="adharNumber">Adhar Number:</label>
        <input type="text" id="adharNumber"  name="adharNumber" required>
      </div>
  
      <!-- <div class="form-group">
        <label for="address">Address:</label>
        <textarea id="address"  name="address" required></textarea>
      </div> -->

      <div class="form-group">
        <label for="address">Address:</label>
        <input type="address" id="address"  name="address" placeholder="street,village" required>
      </div>

      <div class="form-group">
        <label for="district">District:</label>
        <select id="district" name="district" required>  
         </select>
      </div>

      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <select id="pincode" name="pincode" required>  
         </select>
      </div>

      <div class="form-group">
        <label for="state">State:</label>
        <select id="state" name="state" required>  
         </select>
      </div>

      <div class="form-group">
        <label for="country">country:</label>
        <select id="country" name="country" required>  
         </select>
      </div>
  
      <button type="submit">Create User</button>
    </form>
  </div>
  